<div [@routerTransition]>
  <h4 class="text-muted"> <small>My Orders</small></h4>
  <ngb-tabset>
    <ngb-tab title="All Orders">
      <ng-template ngbTabContent>
        <app-order-row *ngFor="let item of items" [data]="item"></app-order-row>
      </ng-template>
    </ngb-tab>
    <!-- <ngb-tab title="Pendding Orders">
      <ng-template ngbTabContent>
        <app-order-row *ngFor="let item of items"></app-order-row>
      </ng-template>
    </ngb-tab> -->
    <ngb-tab title="Open">
      <ng-template ngbTabContent>
        <p> No Orders.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Cancelled">
      <ng-template ngbTabContent>
        <p>No Orders.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>