$topnav-background-color: #f3f4f8;
:host {
  display: block;
}

.login-page {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  text-align: center;
  // color: #fff;
  padding: 0px;
  .col-lg-4 {
    padding: 0;
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #f3f3f8;
    // color: #fff;
    border-radius: 0;
  }
  .input-underline:focus {
    border-bottom: 2px solid $topnav-background-color;
    box-shadow: none;
  }
  .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,
  .rounded-btn:focus,
  .rounded-btn:active,
  .rounded-btn:visited {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
  }
  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .form-group {
    // padding: 0px 0;
  }
  .form-content {
    padding: 0px 60px;
  }
  .user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}

.login-container {
  background: #FFF;
  .row {
    margin: 0px;
    .col-md-6:first-child {
      padding: 0;
    }
  }
}

.store-image {
  background-image: url("../../assets/images/ikea_store.png");
  background-size: cover;
  height: 100vh;
}

.form-container {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media only screen and (max-width: 1000px) {
  .form-container {
    padding: 0;
  }
  .login-page {
    .form-content {
      padding: 0;
    }
  }
  .store-image {
    display: none;
  }
}

.login-btn {
  width: 100%;
  background: #1752b2;
  color: #FFF;
}