<div class="login-page" [@routerTransition]>


  <div class="login-container">
    <div class="row">
      <div class="col-md-6 store-image">
        <!-- <img src="assets/images/ikea_store.png" class="store-image" /> -->
      </div>
      <div class="col-md-6">
        <div class="form-container justify-content-md-center">
          <br/>
          <img src="assets/images/logo.svg" width="150px" />
          <br/>
          <h3>Wellcome to IKEA Digital</h3>
          <br/>
          <form role="form">
            <div class="form-content">
              <div class="form-group">
                <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
              </div>

              <div class="form-group">
                <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
              </div>
              <a href="#" class="float-right">Forgot password</a>
              <br/>
              <br/>
              <div class="form-group">
                <a class="btn login-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
              </div>
              <br/>
              <div class="form-group">
                Or Sign in with &nbsp;&nbsp; <img src="../../assets/images/Facebook-Logo-rounded.png" alt="">&nbsp;&nbsp; <img src="../../assets/images/google logo.svg" alt="">
              </div>
              <br/>
              <div class="form-group">
                Don't have an account? <a [routerLink]="['/signup']">{{ 'SIGN UP' | translate }}</a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>