<div [@routerTransition]>
  <h4 class="text-muted"> <small><a [routerLink]="['/my-orders']" routerLinkActive="router-link-active" >My Orders</a> > Change Delivery Time</small></h4>
  <div class="order-details-page">
    <app-order-row></app-order-row>
    <div class="reschedule-content">
      <p>Continue pick a desire date for delivery</p>
      <div class="date-content">
        <h5>Available dates</h5>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col">
                <div class="date-container">
                  <small>Today</small>
                  <h4>26</h4>
                  <p>NOV</p>
                </div>
              </div>
              <div class="col">
                <div class="date-container active-date-container">
                  <small>Today</small>
                  <h4>27</h4>
                  <p>NOV</p>
                </div>
              </div>
              <div class="col">
                <div class="date-container">
                  <small>Today</small>
                  <h4>28</h4>
                  <p>NOV</p>
                </div>
              </div>
              <div class="col">
                <div class="date-container">
                  <small>Today</small>
                  <h4>29</h4>
                  <p>NOV</p>
                </div>
              </div>
              <div class="col">
                <div class="date-container">
                  <small>Today</small>
                  <h4>30</h4>
                  <p>NOV</p>
                </div>
              </div>
              <div class="col">
                <div class="date-container">
                  <small>Today</small>
                  <h4>01</h4>
                  <p>DEC</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="time-content">
        <h5>Available delivery time</h5>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col">
                <div class="time-container active-time-container">
                  2-3 PM
                </div>
              </div>
              <div class="col">
                <div class="time-container">
                  3-4 PM
                </div>
              </div>
              <div class="col">
                <div class="time-container">
                  4-5 PM
                </div>
              </div>
              <div class="col">
                <div class="time-container">
                  5-6 PM
                </div>
              </div>
              <div class="col">
                <div class="time-container">
                  6-7 PM
                </div>
              </div>
              <div class="col">
                <div class="time-container">
                  7-8 PM
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <span class="btn rounded-btn-change"> <i class="fa fa-check" aria-hidden="true"></i> Change </span> &nbsp;&nbsp;
      <span class="btn rounded-btn-cancel"> <i class="fa fa-check" aria-hidden="true"></i> Cancel </span>
    </div>
  </div>

</div>