<div [@routerTransition]>
  <h4 class="text-muted"> <small>Dashboard</small></h4>

  <div class="row" (click)="myOrders()">
    <div class="col-xl-3 col-lg-6">
      <app-stat [icon]="'fa-check-circle-o'" [count]="orders.length" [label]="'Order Placed'"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat [icon]="'fa-shopping-cart'" [count]="12" [label]="'Cart Items'"></app-stat>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-stat [icon]="'fa-shopping-cart'" [count]="124" [label]="'Bought Items'"></app-stat>
    </div>
  </div>
  <br/>
  <h3 class="text-muted"> <small>Your Recommandation</small></h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <h3 class="text-muted"> <small>Deal of the day</small></h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-12">
              <div class="image-container"><img src="assets/images/table.png" class="card-image" alt=""> </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="d-block">item name</div>
              <div> <span class="fa-1x">$120.00</span></div>
              <div> <small>$129.00(18% off)</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>