.dashboard-image,
{
  width: 100%!important;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  ;
}

.card-image {
  width: 60%;
  height: 60%;
}