.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 60%;
}

.active {
  color: #3d7fbc!important;
  border: none;
  border-bottom: 1px solid #3d7fbc;
  background-color: transparent!important;
}

.item-container {
  background: #FFF;
  margin: 0px;
  margin-top: 20px;
}

.item-header,
.item-content,
.item-footer {
  padding: 1rem;
  border-bottom: 1px solid #f3f3f8;
}

.header-paid {
  background-image: linear-gradient(225deg, red, red 21px, transparent 10px, transparent);
}

.header-pending {
  background-image: linear-gradient(225deg, green, green 21px, transparent 10px, transparent);
}

.rounded-btn-paid {
  border-radius: 50px;
  color: green;
  background: #FFF;
  border: 2px solid rgb(242, 242, 242);
  font-size: 18px;
  line-height: 40px;
  padding: 0 25px;
}

.rounded-btn-pay {
  border-radius: 50px;
  background: red;
  color: #FFF;
  border: 2px solid rgb(242, 242, 242);
  font-size: 18px;
  line-height: 40px;
  padding: 0 25px;
}

.rounded-btn-pending {
  border-radius: 50px;
  color: green;
  background: #FFF;
  border: 2px solid rgb(242, 242, 242);
  font-size: 18px;
  line-height: 40px;
  padding: 0 25px;
}

.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
  color: #3d7fbc;
}

.item-footer-btn {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #f3f3f8;
  text-align: center;
  cursor: pointer;
}

.item-footer-btn:hover {
  color: #3d7fbc;
  border: 1px solid #3d7fbc;
}

.icon-badge {
  vertical-align: middle;
  border-radius: 50%;
  background: #f3f4f8;
  font-size: 24px;
  color: #a0a7b2;
}

.qty-btn {
  border: 1px solid #f3f4f8;
}