<div class="row item-container">
  <div class="col-md-12 item-header">
    <div class="row">
      <div class="col-md-4">
        Order placed<br>
        <strong>22 November 2018</strong>
      </div>
      <div class="col-md-2">
        Total<br>
        <strong>$446.00</strong>
      </div>
      <div class="col-md-3">
        Ship to<br>
        <strong>Debbie M Hart</strong>
      </div>
      <div class="col-md-3">
        Oredr Status<br>
        <strong>Delivery Picked up</strong>
      </div>
    </div>
  </div>
  <div class="col-md-12 item-content">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/images/table.png" class="item-image" alt="">
      </div>
      <div class="col-md-9">
        <strong>Table</strong>
        <br/> $223.00
        <br/> Furniture bought on Pepperfry.com is shipped for free,. <br/> QTY 2
        <span class="btn rounded-btn-paid float-right" disabled> <i class="fa fa-check" aria-hidden="true"></i> Paid </span>
      </div>
    </div>
  </div>
  <div class="col-md-12 item-footer">
    <div class="row">
      <div class="col-md-2"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Track Order</div>
      <div class="col-md-2"><i class="fa fa-repeat" aria-hidden="true"></i> &nbsp; Reschedule</div>
      <div class="col-md-2"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp; Feedback</div>
      <div class="col-md-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Write Review</div>
      <div class="col-md-2"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Change Delivery Date</div>
      <div class="col-md-2"><i class="fa fa-fax" aria-hidden="true"></i> &nbsp; Order Details</div>
    </div>
  </div>
</div>